@font-face {
    font-family: 'OSC Bold';
    src: url('../fonts/OpenSansCondensed-Bold.eot');
    src: url('../fonts/OpenSansCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSansCondensed-Bold.woff') format('woff'),
        url('../fonts/OpenSansCondensed-Bold.ttf') format('truetype'),
        url('../fonts/OpenSansCondensed-Bold.svg#OpenSansCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'OSC';
    src: url('../fonts/OpenSansCondensed-Light.eot');
    src: url('../fonts/OpenSansCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSansCondensed-Light.woff') format('woff'),
        url('../fonts/OpenSansCondensed-Light.ttf') format('truetype'),
        url('../fonts/OpenSansCondensed-Light.svg#OpenSansCondensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OS Bold';
    src: url('../fonts/OpenSans-SemiBold.eot');
    src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-SemiBold.woff') format('woff'),
        url('../fonts/OpenSans-SemiBold.ttf') format('truetype'),
        url('../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OS';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype'),
        url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@mixin menu {
    font-family: "OSC Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@mixin phone {
    font-family: "OSC Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@mixin title1 {
    font-family: 'OSC Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@mixin title2 {
    font-family: "OSC";
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
}

@mixin title3{
    font-family: "OSC Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@mixin title4 {
    font-family: "OSC Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@mixin subtitle1 {
    font-family: 'OSC Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(-90deg);
}

@mixin subtitle2 {
    font-family: "OS";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #989898;
}

@mixin text1 {
    font-family: 'OS';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

@mixin text2 {
    font-family: 'OS';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

@mixin nav {
    font-family: 'OSC Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@mixin icons {
    font-family: "OSC Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #fff;
}

@mixin year {
    font-family: "OSC Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #D1A954;
}

@mixin rewards {
    font-family: "OS Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: #FFFFFF;
}

@mixin contact {
    font-family: "OSC Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@mixin footer {
    font-family: "OS";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    text-align: right;
    color: #989898;
}